<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="./spinner.css">
    <title>mobile-scaffold</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but mobile-scaffold doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!-- The loading spinner -->
    <div id="spinner-wrapper">
      <svg id="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle id="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </div>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
