<template>
  <v-app class="app-wrapper">
    <!-- Slot in app-bar here -->
    <slot name="bar">
      <v-app-bar app dark flat color="transparent">
        <v-app-bar-nav-icon color="primary" @click="drawerOpen = !drawerOpen"></v-app-bar-nav-icon>
        <!-- Slot in title here -->
        <slot name="title">
          <v-toolbar-title class="headline">
            <span>{{ title }}</span>
          </v-toolbar-title>
        </slot>
      </v-app-bar>
    </slot>

    <AppDrawer v-model="drawerOpen" />

    <v-content>
      <!-- Slot in default content here -->
      <slot></slot>
    </v-content>
  </v-app>
</template>

<script>
import AppDrawer from './AppDrawer.vue';

export default {
  name: 'AppWrapper',
  components: {
    AppDrawer,
  },
  data: () => ({
    drawerOpen: false,
  }),
  props: {
    title: {
      type: String,
      default: 'Scaffold',
    },
  },
};
</script>

<style lang="scss">

</style>
