<template>
  <div>
    <v-toolbar dark class="chat-bar">
      <v-btn icon @click="$router.go(-1);" style="margin-left: -12px;">
        <v-icon>mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title class="headline font-weight-light">
        <span>We are here to help</span>
      </v-toolbar-title>
    </v-toolbar>

    <v-content class="chat-content">
      <ChatBubble />
    </v-content>

  </div>
</template>

<script>
// @ is an alias to /src
import ChatBubble from '@/components/ChatBubble.vue';

export default {
  components: {
    ChatBubble,
  },
  data: () => ({
    show: true,
  }),
};
</script>

<style lang="scss" scoped>

.chat-bar {
  background-color: var(--v-info-darken1);
}

.chat-content {
  height: 100%;
}

</style>
