<template>
  <AppWrapper light>

    <v-img class="app-background"
      src="~@/assets/pexels-photo-1586485.jpg"
      @load="animateElements"
    />

    <main>
      <v-container>
        <v-scroll-y-reverse-transition>
          <div class="hero" v-show="show">
            <div class="display-1 font-weight-light mt-10 mb-2 white--text">Money that works.</div>
            <div class="subtitle-1 mb-2 white--text">Get your money working for you.</div>
          </div>
        </v-scroll-y-reverse-transition>

        <div class="call-to-action mb-12">
          <v-scroll-x-transition>
            <div v-show="show">
              <router-link to="/signup">
                <v-btn full class="mb-3" color="primary">
                  Sign up
                </v-btn>
              </router-link>
            </div>
          </v-scroll-x-transition>

          <v-scroll-x-transition>
            <div v-show="show">
              <router-link to="/login">
                <v-btn
                  transition="slide-x-transition"
                  outlined
                  class="mb-3"
                  dark>
                  Already a member? Log in
                </v-btn>
              </router-link>
            </div>
          </v-scroll-x-transition>
        </div>

      </v-container>
    </main>

    <v-btn
      absolute
      dark
      fab
      small
      @click="$router.push('/chat')"
      class="chat-fab jump"
      v-if="show"
    >
      <v-icon small>mdi-message-reply</v-icon>
    </v-btn>

  </AppWrapper>
</template>

<script>
// @ is an alias to /src
import AppWrapper from '@/components/app/AppWrapper.vue';

export default {
  name: 'home',
  components: {
    AppWrapper,
  },
  data: () => ({
    show: false,
  }),
  methods: {
    animateElements() {
      setTimeout(() => {
        this.show = true;
      }, 50);
    },
  },
};
</script>

<style lang="scss" scoped>

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-background {
  filter: brightness(50%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

main {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.spinner {
  position: absolute;
  left: calc(50% - 16px);
  top: calc(50% - 16px);
}

.call-to-action {
  a {
    text-decoration: none;
  }
  button {
    text-transform: initial;
    width: 100%;
  }
}


.chat-fab {
  position: absolute;
  right: 1rem;
  bottom: 1rem !important;
  background-color: var(--v-accent-darken4) !important;
}
.jump {
  animation: jump 1s 2s forwards cubic-bezier(.84,-0.54,.31,1.19);
}
@keyframes jump {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-2em);
  }
}

</style>
