<template>
  <v-app class="registration-wrapper">

    <v-tabs-items v-model="currentStep" touchless>
      <v-tab-item
        class="step-container"
        v-for="(step, i) in steps"
        :key="i"
        transition="slide-x-transition"
      >
        <v-card height="100vh" elevation="4">
          <RegistrationStep class="step" v-bind="step" @click="nextStep" @submit="nextStep" />
        </v-card>
      </v-tab-item>
    </v-tabs-items>

  </v-app>
</template>

<script>
import RegistrationStep from '@/components/registration/RegistrationStep.vue';

export default {
  components: {
    RegistrationStep,
  },
  data: () => ({
    steps: [
      {
        key: 'name',
        title: 'What is your name?',
        inputLabel: 'Your name',
        inputType: 'text',
        inputRules: [
          v => !!v || 'Please enter your name',
        ],
      },
      {
        key: 'cellphone',
        title: 'What is your cellphone number?',
        inputLabel: 'Your cellphone number',
        inputType: 'tel',
        inputRules: [
          v => !!v || 'Please enter your cellphone number',
          v => /^[+]{0,1}\d*$/.test(v) || 'Please a enter a valid cellphone number',
        ],
      },
      {
        key: 'idNumber',
        title: 'What is your ID number?',
        inputLabel: 'Your ID number',
        inputType: 'number',
        inputRules: [
          v => !!v || 'Please enter your ID number',
          v => /^\d{13}$/.test(v) || 'Please enter a valid 13 digit ID number',
        ],
      },
    ],
    currentStep: 0,
    stepData: {},
  }),
  methods: {
    nextStep() {
      if (this.currentStep < this.steps.length - 1) {
        this.currentStep += 1;
      } else {
        this.$router.push({ path: '/' });
      }
    },
  },
};
</script>

<style lang="scss" scoped>

.step-container {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

</style>
