<template>
  <div class="chat-bubble">
    <div id="chat" ref="chat">
      <div class="chat-background"></div>
    </div>
  </div>
</template>

<script>
import { ApiAiClient } from 'api-ai-javascript';
import anime from 'animejs';
import { Bubbles } from '../../node_modules/chat-bubble/component/Bubbles';

export default {
  name: 'ChatBubble',
  data: () => ({
    accessToken: 'b90c281338cf4fd9a3cf344664c138d9',
    intro: [
      'Hello there, how can I help?',
    ],
  }),
  methods: {
    initChatWindow() {
      const accessToken = this.accessToken;
      if (!this.chatWindowInitialized) {
        const chatWindow = new Bubbles(document.getElementById('chat'), 'chatWindow', {
          inputCallbackFn(o) {
            const client = new ApiAiClient({ accessToken });
            const promise = client.textRequest(o.input);
            promise.then((serverResponse) => {
              // console.log(serverResponse)
              const response = serverResponse.result.fulfillment.speech;
              chatWindow.talk({
                response: {
                  says: [response],
                },
              }, 'response');
            }).catch((serverResponse) => {
              console.log(serverResponse);
            });
          },
          typeSpeed: 25,
        });
        this.chatWindow = chatWindow;
        this.chatWindowInitialized = true;
        this.initChat();
      }
      return this.chatWindow;
    },
    initChat() {
      const convo = {
        ice: {
          says: this.intro,
        },
      };
      this.chatWindow.talk(convo);
    },
  },
  mounted() {
    this.chatWindowInitialized = false;
    this.chatWindow = this.initChatWindow();
    this.chatWindowOpen = true;
  },
};
</script>

<style>

@import '../../node_modules/chat-bubble/component/styles/setup.css';
@import '../../node_modules/chat-bubble/component/styles/says.css';
@import '../../node_modules/chat-bubble/component/styles/reply.css';
@import '../../node_modules/chat-bubble/component/styles/typing.css';
@import '../../node_modules/chat-bubble/component/styles/input.css';

.bubble{
  background: var(--v-primary-base);
  color: white;
}
.bubble-container {
  height: calc(100vh - 56px);
}
.bubble-container .input-wrap textarea {
  width: calc(100% + 2px);
  margin: 1px 0px 0px -1px;
  resize: none;
  border-radius: 0;
  padding: 26px 15px 18px;
  vertical-align: middle;
  line-height: 8px;
  background: #353535;
  color: white;
}
.bubble-container .input-wrap textarea::placeholder{
  color: white;
}
.bubble.reply .bubble-content .bubble-button.bubble-pick{
  background: #353535;
}
.bubble-typing {
  width: 65px;
  height: 30px;
  background: var(--v-primary-base);
}

.bubble.say {
  display: flex;
  justify-content: left;
  align-content: center;
}

#chat-icon{
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 45px;
  right: 45px;
  cursor: pointer;
}
#chat-icon img{
  position: relative;
  width: 60px;
  height: 60px;
}
.chat-background{
  height: 100%;
  width: 100%;
  background: url("../assets/gadget-doodle.jpg");
  opacity: 0.04;
}
.bubble.reply .bubble-content .bubble-button.bubble-pick{
  margin-bottom: 3px;
}
.input-wrap{
  height: 60px;
}
.bubble-wrap::-webkit-scrollbar {
  width: 10px;
}

.bubble-wrap::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0,0,0,.1);
}


</style>
