<template>
  <div>
    <v-toolbar dark flat prominent class="signup-bar">
      <div>
        <v-btn icon @click="$router.go(-1);" style="margin-left: -12px;">
            <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title class="headline font-weight-light">
          <span>{{ title }}</span>
        </v-toolbar-title>
      </div>
      <v-btn
        class="fab"
        color="primary"
        small
        absolute
        bottom
        right
        fab
        :disabled="!valid"
        @click="submit"
      >
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-toolbar>
    <v-container>
      <v-form ref="form" class="mt-8" lazy-validation v-model="valid" @submit="handleFormSubmit">
        <v-text-field
          v-model="value"
          :type="inputType"
          :label="inputLabel"
          :rules="inputRules"
          clearable
          autofocus
        ></v-text-field>
      </v-form>
    </v-container>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    inputLabel: {
      type: String,
      required: true,
    },
    inputRules: {
      type: Array,
      default: () => [],
    },
    inputType: {
      type: String,
      default: 'text',
    },
  },
  data: () => ({
    value: null,
    valid: null,
  }),
  methods: {
    handleFormSubmit(event) {
      event.preventDefault();
      this.submit();
    },
    submit() {
      this.$emit('submit', this.value);
    },
  },
};
</script>

<style lang="scss">
.form {
  width: 100%;
}
.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background-color: var(--v-secondary-lighten1) !important;
}
</style>
